[mysqld]

max_connections={{ max_connections }}
innodb_buffer_pool_size={{ innodb_buffer_pool_size }}
innodb_dedicated_server={{ innodb_dedicated_server }}
innodb_change_buffering={{ innodb_change_buffering }}
slow_query_log={{ slow_query_log }}
long_query_time={{ long_query_time }}
performance_schema={{ performance_schema }}
max_allowed_packet={{ max_allowed_packet }}
table_open_cache={{ table_open_cache }}
thread_stack={{ thread_stack }}
thread_cache_size={{ thread_cache_size }}
join_buffer_size={{ join_buffer_size }}
sort_buffer_size={{ sort_buffer_size }}
tmp_table_size={{ tmp_table_size }}
max_heap_table_size={{ max_heap_table_size }}
innodb_flush_method={{ innodb_flush_method }}
innodb_file_per_table={{ innodb_file_per_table }}
innodb_open_files={{ innodb_open_files }}
innodb_io_capacity={{ innodb_io_capacity }}
innodb_io_capacity_max={{ innodb_io_capacity_max }}
read_buffer_size={{ read_buffer_size }}
